@charset "utf-8";

h1 {
color: #36a93b;
text-align: center;

}
hr{
    height: 10px;
    width: 50%;
    background-color: aqua;
    }

img {
    width: 90%;
    margin: 0px;
    
    border: 5px solid gold;
}


.ku {
    clear: left;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    border: solid red;
    
    


    
}

.mov {
    float: left;
    width: 49%;
    height: 100%;
    margin: 0;
    
    border: solid red;
    
    
    
}








.syousai {
    border: solid blue;
    height: 80%;
    padding: 0px;
    width: 80%;
    margin: 0;
    
    
    
    
}

.syousai p {
    padding: 0px;
    margin: 0px;
    
}

.rank {
    width: 10%;
    height: 80%;
    margin: 0;
    float: left;

}

.move button {
    
}

