@charset "utf-8";

h1 {
color: #36a93b;
text-align: center;

}
hr{
    height: 10px;
    width: 50%;
    background-color: aqua;
    }

img {
    width: 70%;
    margin: 0px;
    
    border: 5px solid gold;
}


.ku {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    border: solid green;
    
    


    
}

.mov {
    float: left;
    width: 49%;
    height: 100%;
    margin: 0;
    
    border: solid red;
    
    
    
}








.syousai {
    border: solid blue;
    height: 90%;
    padding: 0px;
    width: 80%;
    margin: 0;
    
    
    
    
    
    
}

.syousai p {
    padding: 0px;
    margin: 3px;
    border: solid black;
    width: 30%;
    
}

.rank {
    width: 5%;
    height: 80%;
    margin: 0;
    padding: 0px;

    float: left;

}



html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}


.syousai button {
    margin: 0;
    padding: 0;
    
}

.mozi {
    
    margin: 0;
    padding: 0;
    width: 100%;
    border: solid black;
    display: flex;

}   